torch>=1.7
transformers==4.25.1  # ← 명시적 버전 지정
sentencepiece==0.1.96
tqdm>=4.62.2
tensorboardX
nltk
yacs
dill
datasets
rouge==1.0.0
pyarrow
scipy
argparse
git+https://github.com/SKTBrain/KoBERT.git@master#egg=kobert_tokenizer&subdirectory=kobert_hf